* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 221);
}

header {
    display: flex;
    background-color: #007553;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 200px;
    height: 60px;
}

.imagen {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    display: inline-flex;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    margin: 0 15px;
    font-size: 20px;
}

aside {
    background-color: #00694b;
    width: 260px;
    height: 100vh;
}

aside ul li {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}

aside ul li i {
    font-size: 23px;
}

.list i {
    margin-top: 25px;
}