* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #E8C39E;
}

.container-header {
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #091820;
  color: #ffffff;
}

.titulo {
  margin-left: 55px;
}

.titulo h1 {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

i {
  font-size: 30px;
  color: #ffffff;
}

.lista1 li {
  list-style: none;
  display: inline-flex;
  margin: 0px 20px;
  margin-top: 15px;
}

i:hover {
  color: #dcdcdc;
}

a:hover {
  color: #dcdcdc;
}

.container-nav {
  display: inline-grid;
  position: fixed;
  top: 80px;
  width: 290px;
  height: 800px;
  background-color: #0f242f;
}

.button {
  font-size: 20px;
  width: 200px;
  margin-left: 15px;
  margin-top: 34px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: #E8C39E;
  color: #000;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 1px 3px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #E8C39E),
    to(#f5d6b6)
  );
  background-image: linear-gradient(#c09e7c 10%, #E8C39E 100%);
}

.button:hover,
.button:focus {
  background-color: #f3d4b4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #f0a100),
    to(#f5d6b6)
  );
  background-image: linear-gradient(#f3d4b4 10%, #E8C39E 100%);
}

.button:active {
  background-color: #f5d6b6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #f5d6b6),
    to(#f5d6b6)
  );
  background-image: linear-gradient(#f5d6b6 10%, #b4895e 100%);
}
